<% include ./partials/header.ejs %>
<link href="../public/css/gdp-1.0.0/user-management.css" rel="stylesheet">
<script src="../public/js/gdp-1.0.0/employeeManagement.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<div class="container">
  <div class="title">
    <h4 >
      User Management
      <small></small>
    </h4> 
  </div> 
</div> 
<div class="container">
  <div class="btn-group pull-right">
    <a href="/addnewemployee" class="btn btn-default">Add Employee</a> 
  </div>
 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body filterable">
                <table class="table table-hover table-sm table-responsive">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Manager</th>
                            <th>Location</th>
                            <th>Area</th>
                            <th>Edit</th>                            
                        </tr>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% users.forEach(function(user){ %>
                        <tr>
                            <td><%= user.EmployeeId %></td>
                            <td><%= user.FirstName %></td>
                            <td><%= user.WorkInfo[0].Department %></td>
                            <td><%= user.WorkInfo[0].Role %></td>
                            <td><%= user.WorkInfo[0].Manager %></td>
                            <td><%= user.WorkInfo[0].Location %></td>
                            <td><%= user.WorkInfo[0].Area %></td>
                            <td><a href="http://localhost:3001/usermanagement"><span class="glyphicon glyphicon-edit"></span></a> </td>
                        </tr>
                   <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<% include ./partials/footer.ejs %>



