<% include ./partials/header.ejs %>
<link href="../public/css/gdp-1.0.0/jobmanagement.css" rel="stylesheet">
<script src="../controllers/taskmanagement.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<div class="container">
  <div class="title">
    <h4 >
      Job Management
      <small></small>
    </h4> 
  </div> 
</div>
<div class="btn-group pull-right">
   <a href="/registerfieldforce" class="btn btn-default">Add FieldForce</a> 
</div>
<div class="btn-group pull-right">
   <a href="/registerfieldforce" class="btn btn-default">Create Job</a> 
</div>  
 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body filterable">
                <table class="table table-hover table-sm table-responsive">
                    <thead>
                        <tr>
                            <th><div>Job</div><div>ID</div></th>
                            <th>Job</th>
                            <th><div>Job</div><div>Description</div></th>
                            <th><div>Job</div><div>Time</div></th>
                            <th><div>Customer</div><div>Name</div></th>
                            <th><div>Customer</div><div>Number</div></th>
                            <th><div>Customer</div><div>Address</div></th>         
                            <th><div>Job</div><div>Status</div></th>
                            <th>Executive</th>
                            <th>Edit</th>                            
                        </tr>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                            <th><input type="text" class="form-control" placeholder=""></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% jobs.forEach(function(job){ %>
                        <% job.forEach(function(jo){ %>
                        <tr>                        
                            <td><%= jo.JobDetails[0].JobId %></td>
                            <td><%= jo.JobDetails[0].JobTitle %></td>
                            <td><%= jo.JobDetails[0].JobDescription %></td>
                            <td><%= jo.JobDetails[0].JobScheduledTime %></td>
                            <td><%= jo.CustomerDetails[0].FirstName %></td>
                            <td><%= jo.CustomerDetails[0].PrimaryPhone %></td>
                            <td><%= jo.CustomerDetails[0].Address %></td>
                            <td><%= jo.JobDetails[0].JobStatus %></td>    
                            <td><%= jo.JobDetails[0].JobStatus %></td>                   
                            <td><a href="http://localhost:3001/usermanagement"><span class="glyphicon glyphicon-edit"></span></a> </td>
                         <% }) %>
                        </tr>
                   <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<% include ./partials/footer.ejs %>



