<% include ./partials/header.ejs %>
<link href="../public/css/gdp-1.0.0/user-management.css" rel="stylesheet">

<div class="container">
  <div class="title">
    <h4 >
      User Management
      <small></small>
    </h4> 
  </div> 
</div> 
<div class="container">
  <div class="btn-group pull-right">
  <button>Add User</button>
  </div>
 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <table class="table table-hover table-sm table-responsive">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Superior</th>
                            <th>Location</th>
                            <th>Area</th>
                            <th>Edit</th>                            
                        </tr>
                    </thead>
                    <tbody>
                    <% users.forEach(function(user){ %>
                        <tr>
                            <td><%= user.FirstName %></td>
                            <td><%= 1 %></td>
                            <td><%= 1 %></td>
                            <td><%= 1 %></td>
                            <td><%= 1 %></td>
                            <td><%= 1 %></td>
                            <td><%= 1 %></td>
                            <td><%= 1 %></td>
                        </tr>
                   <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<% include ./partials/footer.ejs %>



